.main {
    display: flex;
    justify-content: center;
    height: 95vh;
    width: 99vw;
}

.charts_container {
    display: flex;
    width: 25%;
    flex-wrap: wrap;
    border: 3px solid black;
    padding: 1rem;
    margin: 0 1rem;
}

.videoStream {
    /* border: 3px solid green; */
    width: 50%;
    padding: 1rem;
    margin: 0 1rem;
}

.board {
    display: flex;
    flex-direction: column;
    /* border: 3px solid orange; */
    width: 25%;
    padding: 1rem;
    margin: 0 1rem;
}

/* controller with up,right,left and down control cross */

.cross {
    /* border: 3px solid blue; */
    position: relative;
    margin: 1rem auto;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    background-color: #E6E6E6;
    border-radius: 100%;
    border: solid 12px rgba(184, 184, 184, 1);
    margin-right: 1rem;
}

.crossCenter {
    background-color: #333333;
    width: 35px;
    height: 35px;
    position: relative;
}

.crossTop {
    background-color: #333333;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 15%;
    margin-top: -30px;
}

.crossBottom {
    background-color: #333333;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 15%;
    margin-top: 30px;
}

.crossLeft {
    background-color: #333333;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 15%;
    margin-left: -30px;
}

.crossRight {
    background-color: #333333;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 15%;
    margin-left: 30px;
}

.controllerRight {
    height: 180px;
    width: 180px;
    background-color: #B8B8B8;
    position: relative;
    border-radius: 100%;
    border: solid 15px rgba(230, 230, 230, 1);
    box-shadow: 15px 8px 15px rgba(0, 0, 0, 0.2);
}

.backButton1Center {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: #E6E6E6;
    -webkit-transform: rotate(-30deg);
    top: 37px;
    left: 25px;
}

.backButton2Center {
    position: absolute;
    width: 80px;
    height: 50px;
    background-color: #E6E6E6;
    -webkit-transform: rotate(-30deg);
    margin-top: 100px;
    margin-left: 58px;
}

.cornerLeft1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #00B800;
    border-radius: 100%;
    top: -3px;
    left: -20px;
    border: solid 5px rgba(230, 230, 230, 1)
}

.cornerRight1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #6699FF;
    border-radius: 100%;
    left: 60px;
    top: -3px;
    border: solid 5px rgba(230, 230, 230, 1)
}

.cornerLeft2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #CFCF00;
    border-radius: 100%;
    top: -3px;
    left: -20px;
    border: solid 5px rgba(230, 230, 230, 1)
}

.cornerRight2 {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #7D230D;
    border-radius: 100%;
    left: 60px;
    top: -3px;
    border: solid 5px rgba(230, 230, 230, 1)
}

.startStop {
    display: flex;
    justify-content: space-around;

}

.start {
    background-color: green;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 1rem;
    width: 30%;
    margin: 0.5rem;
    text-align: center;
}

.stop {
    background-color: orange;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 1rem;
    width: 30%;
    margin: 0.5rem;
    text-align: center;
}

.emergency {
    background-color: red;
    font-size: large;
    font-weight: bold;
    color: white;
    padding: 1rem;
    width: 95%;
    margin-top: 1rem;
    text-align: center;
    border: none;
}

.triangleRotate {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.triangle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.triangleUp {
    display: inline-block;
    height: 0;
    width: 0;
    border-right: 80px solid transparent;
    border-bottom: 80px solid black;
    border-left: 80px solid transparent;
    margin-bottom: 1rem;
}

.triangleDown {
    display: inline-block;
    height: 0;
    width: 0;
    border-top: 80px solid black;
    border-right: 80px solid transparent;
    border-left: 80px solid transparent;
}

.rotateLeft {
    background-image: url('../img/rotateLeft.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
}

.rotateRight {
    background-image: url('../img/rotateRight.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
}

.loggerDiv {
    height: 200px;
    background-color: black;
    color: white;
    padding: 1rem;
    width: 95%;
    margin-top: 1rem;
    white-space: pre;
    overflow: scroll;
    scroll-snap-align: end;
}

.batteryContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.batteryOuter {
    border-radius: 3px;
    border: 3px solid #444;
    padding: 1px;
    width: 250px;
    height: 25px;
}

.batteryBump {
    border-radius: 2px;
    background-color: #444;
    margin: 2px;
    width: 1px;
    height: 25px;
}

#batteryLevel {
    border-radius: 2px;
    background-color: #73AD21;
    width: 70px;
    height: 25px;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;

}

.chartRadar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;

}